.rounded-circle {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#about {
    margin-top: 20px;
    /* adjust this value as needed */
}

.rounded {
    border-radius: 50%;
    overflow: hidden;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-hover {
    transition: all 0.2s ease-in-out;
}

.image-hover:hover {
    transform: scale(1.05);
    z-index: 1;
}

.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler:hover,
.navbar-dark .navbar-toggler:focus {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

@media (min-width: 992px) {
    .navbar-nav {
        margin-left: auto;

    }
}

footer {
    background-color: #f8f9fa;
    padding: 30px 0;
    color: #6c757d;
}

footer a {
    color: #6c757d;
    margin: 0 10px;
}

.fa-2x {
    font-size: 2em;
}


.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    margin: 0 10px;
    font-size: 24px;
}

.footer-icon:hover {
    color: #2d2d2d;
}